<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="login">
    <classes>
     <class name="Login_Process.Login"/>
    </classes>
  </test>
  <test name="add_provider">
    <classes>
      <class name="Demo.Add_Provider"/>
      <class name="Demo.Login"/>
    </classes>
  </test> 
  <!-- Test -->
</suite> <!-- Suite -->
